
    <h2 style="text-decoration: underline;">How to contact me</h2>

    <br>

    <p>Github: <a href="https://github.com/Chris-Hayashi">https://github.com/Chris-Hayashi</a></p>
    <p>Linkedin: <a href="https://Linkedin.com/in/Christopher-Hayashi">https://Linkedin.com/in/Christopher-Hayashi</a>
    </p>
    <br>
    <p>Cell Phone: (925) 478-9447</p>
    <p>Email: <a href="mailto:Chrisrhayashi@gmail.com">Chrisrhayashi@gmail.com</a></p>