<div id="sellMyself">
    <h2 id="goals">Java Programmer With Full Stack Experience</h2>

    <br>

    <h4>Avid Learner</h4>
    <p>As a self-motivated programmer, I find it essential to learn as much about the tech industry as
        possible. I am interested in learning any additional
        programming languages necessary to accomplish any task.
    </p>

    <br>

    <h4>Eager Collaborator</h4>
    <p>I have collaborated with other developers on projects during my time in the Berkeley Coding Boot
        Camp. I find it exciting to work alongside a team
        towards a common goal.
    </p>
</div>

<br>
<hr><br>


<div>

    <h2 id="summary">Brand Statement</h2>
    <p id="brandStatement">
        Full Stack Web Developer certified at UC Berkeley Extension majoring in software engineering at San
        Jose State University. Skilled in Java, HTML, CSS, and
        JavaScript with strengths in creativity, teamwork, and resourcefulness. Capable of developing
        fully-functional websites and web applications to clients’
        specifications. Experienced with working on projects during my professional development at the
        Berkeley Coding Boot Camp. Passionate about making software
        engineering a full-time career in order to contribute to and add value to a like-minded team. An
        ideal candidate for designing software through the use of
        acquired skills and tactics beneficial to the changing trends of the high-tech industry.
    </p>
</div>