<div id="projects">


    <!-- First Row -->
    <div class="row">
        <div class="col-sm-6">
            <!-- Project 1 Card -->
            <h2 class="flip-card-title">LIRI</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/liri.gif" alt="Avatar" style="width:600px; height: 400px;">
                        <!-- <h2 class="flip-card-title">LIRI</h2> -->
                    </div>
                    <div class="flip-card-back">
                        <h1>Tools Used</h1>
                        <br>
                        <div style="text-align:left; margin-left: 15px;">

                            <div>
                                <h3 style="display:inline;">Languages: </h3>
                                <p style="display:inline;">Javascript</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">NPM Packages: </h3>
                                <p style="display:inline;">Node.js</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">APIs: </h3>
                                <p style="display:inline;">Bandsintown, Spotify, OMDB</p>

                            </div>
                            <button><a></a></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <!-- Project 2 Card -->
            <h2>ESPN Scraper</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/espn.gif" alt="Avatar" style="width:600px; height: 400px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Tools Used</h1>
                        <br>
                        <div style="text-align:left; margin-left: 15px;">

                            <div>
                                <h3 style="display:inline;">Languages: </h3>
                                <p style="display:inline;">HTML, CSS, Javascript/JQuery</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">NPM Packages: </h3>
                                <p style="display:inline;">Express, Handlebars, Mongoose, Cheerio, and Axios</p>

                            </div>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>

    <!-- Second Row -->
    <div class="row">
        <div class="col-sm-6">
            <!-- Project 3 Card -->
            <h2>Musical Trivia</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/trivia-2.gif" alt="Avatar" style="width:600px; height: 400px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Tools Used</h1>
                        <br>
                        <div style="text-align:left; margin-left: 15px;">

                            <div>
                                <h3 style="display:inline;">Languages: </h3>
                                <p style="display:inline;">Javascript</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">NPM Packages: </h3>
                                <p style="display:inline;">Node.js</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">APIs: </h3>
                                <p style="display:inline;">Bandsintown, Spotify, OMDB</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Project 4 Card -->
            <h2>Eat-Da-Burger!</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="img_avatar.png" alt="Avatar" style="width:600px; height: 400px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Tools Used</h1>
                        <br>
                        <div style="text-align:left; margin-left: 15px;">

                            <div>
                                <h3 style="display:inline;">Languages: </h3>
                                <p style="display:inline;">Javascript</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">NPM Packages: </h3>
                                <p style="display:inline;">Node.js</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">APIs: </h3>
                                <p style="display:inline;">Bandsintown, Spotify, OMDB</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-sm-6">
            <!-- Project 5 Card -->
            <h2>Gif-Tastic!</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/gif-tastic.gif" alt="Avatar" style="width:600px; height: 400px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Tools Used</h1>
                        <br>
                        <div style="text-align:left; margin-left: 15px;">

                            <div>
                                <h3 style="display:inline;">Languages: </h3>
                                <p style="display:inline;">Javascript</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">NPM Packages: </h3>
                                <p style="display:inline;">Node.js</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">APIs: </h3>
                                <p style="display:inline;">Bandsintown, Spotify, OMDB</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Project 6 Card -->
            <h2>Pix Flix</h2>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="./assets/images/pix-flix.gif" alt="Avatar" style="width:600px; height: 400px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Tools Used</h1>
                        <br>
                        <div style="text-align:left; margin-left: 15px;">

                            <div>
                                <h3 style="display:inline;">Languages: </h3>
                                <p style="display:inline;">Javascript</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">NPM Packages: </h3>
                                <p style="display:inline;">Node.js</p>

                            </div>
                            <br>
                            <div>
                                <h3 style="display:inline;">APIs: </h3>
                                <p style="display:inline;">Bandsintown, Spotify, OMDB</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>