@font-face {
    font-family: "confetti";
    src: url("./fonts/Hoodson\ free\ font\ .ttf");
}

body {
    background-image: linear-gradient(to right, #09C6F9, #045DE9);
    font-family: confetti;
    overflow-x: hidden;
}

#jumbotron {
    background-image: linear-gradient(to right, #8693AB, #BDD4E7);
    width: 100vw;
    height: 40vh;
    min-height: 300px;
    -webkit-filter: drop-shadow(5px 5px 2px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#myName {
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    display: block;
    margin: auto;
    padding-top: 5vh;
}

/* #seeProjects {
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 50rem;
} */

#aboutMe {
    /* position: absolute; */
    display: block;
    background-color: white;
    opacity: 0.95;
    border: 5px solid black;
    -webkit-filter: drop-shadow(8px 8px 5px #222);
    filter: drop-shadow(8px 8px 5px #222);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    width: 90vw;
    /* left: 5vw; */
    margin: auto;
    margin-bottom: 3rem;
}

#aboutMeContent {
    margin: 1.5rem;
    text-align: center;
}

#goals {
    background-image: linear-gradient(to right, #2121dd, #0d0da0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2rem;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
    text-align: center;
}

#background {
    text-decoration: underline;
}

#summary {
    text-decoration: underline;
}

#brandStatement {
    font-size: 1.5rem;
}

.flip-card {
    background-color: transparent;
    width: 600px;
    height: 400px;
    border: 1px solid #f1f1f1;
    -webkit-filter: drop-shadow(5px 5px 2px #222);
    filter: drop-shadow(5px 5px 5px #222);
    perspective: 1000px;
    margin: auto;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-title {
    /* position: absolute; */
    text-align:center;
}

.flip-card-back {
    background-image: linear-gradient(to right, #8693AB, #BDD4E7);
    color: black;
    transform: rotateY(180deg);
}